.btn-center {
    display: flex;
}
.main {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.border-margin {
    border: 1px solid #ccc;
    margin: 0 auto;
}
.list-table {
    width: 80%;
    height: 50%;
}
.text-center {
    text-align: center;
    padding: 10px;
}
.error {
    color: red;
}

#pagination {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

.cursor-pointer {
    cursor: pointer;
}
